<div>
  <form #formRef="ngForm" (ngSubmit)="login(formRef.value)">
    <fieldset ngModelGroup="user">
      <input type="text" name="username" [(ngModel)]="username" #usernameRef="ngModel" minlength="3" placeholder="username" required>
      <div *ngIf="usernameRef.errors?.required">username is required</div>
      <input type="password" name="password" [(ngModel)]="password" #passwordRef="ngModel" minlength="6" placeholder="password" required>
      <div *ngIf="passwordRef.errors?.required">password is required</div>
      <button type="submit" (ng-disabled)="">Login</button>
    </fieldset>
  </form>
</div>
