<li class="todo-item">
  <md-card>
    <md-radio-button></md-radio-button>
    <span>{{todo.desc}}</span>
    <button class="btn-backlog" *ngIf="todo.state===0" (click)="updateTodo(todo.id, todo.desc, 1)">start</button>
    <button class="btn-inprogress" *ngIf="todo.state===1" (click)="updateTodo(todo.id, todo.desc,2)">done</button>
    <button class="btn-done" *ngIf="todo.state===2" (click)="updateTodo(todo.id, todo.desc,3)">close</button>
    <button class="btn-close" *ngIf="todo.state===3" (click)="updateTodo(todo.id, todo.desc,0)">open</button>
    <button class="btn-delete" (click)="deleteTodo(todo.id)">del</button>
  </md-card>
</li>
