<div class="todo-wrapper">
  <header>Todo</header>
  <div class="content">
    <div class="input-wrapper">
      <md-form-field class="example-full-width">
        <input mdInput type="text" [(ngModel)]="desc" (keyup.enter)="addTodo()" placeholder="to do something">
      </md-form-field>
      <button (click)="addTodo()" md-raised-button color="primary">add</button>
    </div>
    <ul class="filter-list-wrapper">
      <li class="filter-item" [class.active]="currentTargetId===0" (click)="getTodos()">all</li>
      <li class="filter-item" [class.active]="currentTargetId===1" (click)="getTodos({state:0})" >backlog</li>
      <li class="filter-item" [class.active]="currentTargetId===2" (click)="getTodos({state:1})">inprogress</li>
      <li class="filter-item" [class.active]="currentTargetId===3" (click)="getTodos({state:2})">done</li>
      <li class="filter-item" [class.active]="currentTargetId===4" (click)="getTodos({state:3})">close</li>
    </ul>
    <ul class="todo-list" [class.open]="true">
      <app-todo-item *ngFor="let todo of todoList" (onDeleteTodo)="onDeleteTodo()" (onUpdateTodo)="onUpdateTodo()" [todo]="todo"></app-todo-item>
    </ul>
  </div>
  <app-todo-footer [itemCount]="todoList?.length"></app-todo-footer>
</div>
