<div>
  <input type="checkbox">
  <input type="text" [(ngModel)]="desc" (keyup.enter)="addTodo()" placeholder="请输入待办事项">
  <button (click)="addTodo()">添加</button>
  <ul class="todo-list" [class.open]="true">
    <li *ngFor="let todo of todoList">
      <!--<div>-->
        <!--<span>ID:</span>-->
        <!--<span>{{todo.id}}</span>-->
      <!--</div>-->
      <div>
        <!--<span>备注:</span>-->
        <span>{{todo.desc}}</span>
      </div>
      <!--<div>-->
        <!--<span>是否完成:</span>-->
        <!--<span>{{todo.completed?'是':'否'}}</span>-->
      <!--</div>-->
    </li>
  </ul>
</div>
